*{
    background-color: rgb(26, 110, 255);
    padding: 0%;
    margin: 0%;
    box-sizing:border-box;
}

.wrapper{
    display:flex;
    justify-content: center;
    align-items: center; 
    min-height:100vh;
}

.wrapper .loader{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    gap:20px;
}
.loader .loading {
    height:30px;
    width:30px;
    background-color: rgb(255, 255, 255);
    border-radius:15px;
    animation:load 0.8s ease infinite;
}

.loader .loading.one {
    animation-delay: 0.3s;
}

.loader .loading.two{
    animation-delay:0.4s;
}

.loader .loading.three{
    animation-delay: 0.5s;
}
  .loader .loading.four{
    animation-delay: 0.6s;
}

@keyframes load{
    0%{
        height:30px;
        width:30px;
    }
    50%{
        height:20px;
        width:20px;  
    }
}